@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif;;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
.barra {
    color: black;
}
.barra1 {
    color: black;
}
.barra2 {
    color: black;
}
.barra3 {
    color: black;
}
.projetos {
    min-height: 100vh;
    width: auto;
    display: block;
    height: 300vh;
    background-position: bottom left;
}

.tex {
    text-transform: uppercase;
    color: transparent;
    font-size: 7.9rem;
    width: auto;
    padding-top: 8vh;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    margin: auto auto auto auto ;
    text-align: center;
}
.tex2 {
    text-transform: uppercase;
    color: transparent;
    font-size: 7.9rem;
    width: auto;
    padding-top: 8vh;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    margin: auto auto auto auto ;
    text-align: center;
}

/*grid projeto*/
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50vh;
    max-width: 95%;
    margin: auto;
    overflow: hidden;
    grid-gap: 10px;
    transition: .4s ease;
}

.imagem_grid {
    position: relative;
    overflow: hidden;
}
.imagem_grid .gri_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 5s ease;
}
.imagem_grid:hover .gri_img  {
    transform: scale(1.5);
}
.imagem_grid:hover .texto_grid_colum {
    color: white;
}
.imagem_grid:hover .texto_grid {
    color: white;
}
.imagem_grid:hover .titulo_grid{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3) , rgba(0, 0, 0, .2));
    color: white;
}
.imagem_grid .titulo_grid {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .1) , transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    letter-spacing: 5px;
    color: black;
    padding: 40px;
    font-size: 15px;
    height: 100%;
    transition: .3s ease;
}
.imagem_grid .texto_grid_colum {
    position: absolute;
    left: 0;
    height: 100%;
    bottom: 0;
    color: transparent;
    width: 100%;
    padding: 100px;
    font-size: 25px;
    transition: .3s ease;
}
.imagem_grid .texto_grid {
    position: absolute;
    left: 0;
    height: 100%;
    bottom: 0;
    color: transparent;
    width: 100%;
    padding: 100px;
    font-size: 25px;
    transition: .3s ease;
}
.texto_grid_colum span {
    font-size: 14px;
}
.texto_grid span {
    font-size: 14px;
}
/*before*/
/*Começo do footer*/
footer {
    width: auto;
    height: 100vh;
}
.baner_mid {
    background-image: url(../imagens/Img/Party.jpg);
    width: auto;
    height: 60vh;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1000;
    background-size: 175vh auto;
}


.hero > div > ul > li > a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero > div > ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.hero div > ul > li {
    display: inline;
    float: left;
  }

.liou{
    margin-left: 5px;
      margin-right: 5px;
}

/*Header section*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header img{
    height: 20px;
    animation: icon_rgb 1s ease infinite;
}
#header .header {
    min-height: 8vh;
    transition: .3s ease;
    /*backdrop-filter: blur(4px);*/
    /*background-image: linear-gradient(to bottom, rgba(31, 30, 30, .8), transparent)*/
}
.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    opacity: 0;
    animation: navi_inicial 1s ease forwards;
    animation-delay: .5s;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    /*background-image: rgba(0, 0, 0, 0.2) url(../imagens/GeoTex.png);*/
    /*background:url(../imagens/Img/GeoTex1.png);*//*verificar fundo para mudar depois*/
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .3s ease left;
}
#header .nav-list h2 {
    color: white;
    position: relative;
    left: -50px;
    top: -15px;
    text-transform: uppercase;
}
/*script do menu*/
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
/*depois colocar o background no 1.2.3.4.5.6.7 no menu*/
/*Hover*/
#header .nav-list ul a::after {
    /*content: attr(data-after);*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.1);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.2s ease-in-out;
    text-transform: none;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
    overflow:hidden;

}
#header .nav-list ul li:hover a{
    color: white;
    border-bottom: 2px;
    text-decoration: overline;
}
/*End Hover*/
#header .hamburger {
    height: 30px;
    /*width: 30px;*/
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}
#header .hamburger .bar {
    height: 3px;
    width: 20px;
    position: relative;
    background-color: transparent;
    z-index: -1;
    bottom: -9px;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 4px;
}
#header .hamburger .bar::before{
    bottom: 4px;
}
/*click script*/
#header .hamburger.active .bar::before,
#header .hamburger.active .bar::after{
    top: 0;
    bottom: 0;
    transition: 0.3s ease;
}
#header .hamburger.active .bar::before{
    transform: rotate(45deg);
}
#header .hamburger.active .bar::after{
    transform: rotate(-45deg);
}
/*End Header*/



/*Hero Section*/
#hero{
    background-image: url(../imagens/Img/Fundo002.jpg);
    background-size: cover;
    background-position: bottom left;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    opacity: .05;
    z-index: -1;
}
#hero h1 {
    display: flex;
    letter-spacing: 8px;
    margin-left: 10px;
    align-items: right;
    justify-content: center;
    text-align: right;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: white;
    font-family: 'Poiret One', cursive;
}
#hero .cta{
    display: inline-block;
    padding: 10px 5px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    font-size: 2rem;
    opacity: 0.6;
    margin-top: 36px;
    transition: .3 ease;
    left: 2px;
    color: transparent;
    animation: text_sub 1s ease forwards;
    animation-delay: .5s;
    padding-left: 0px !important;
}
#hero .cta1{
    display: inline-block;
    padding: 10px 5px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    font-size: 2rem;
    opacity: 0.6;
    margin-top: 36px;
    transition: .3 ease;
    left: 2px;
    color: transparent;
    animation: text_sub 1s ease forwards;
    animation-delay: .5s;
}
#hero .liou{
    display: inline-block;
    padding: 10px 5px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    font-size: 2rem;
    margin-top: 36px;
    transition: .3 ease;
    left: 2px;
    color: transparent;
    animation: text_text 1s ease forwards;
    animation-delay: .5s;
}
#hero .cta:hover{
    border-bottom: 1px solid white;
    opacity: 1;
}
#hero .cta1:hover{
    border-bottom: 1px solid white;
    opacity: 1;
}
#hero h1 {
    color: transparent;
    animation: text_name 1s ease forwards;
    animation-delay: .5s;
}
#hero h2 {
    color: transparent;
    font-size: 5rem;
    display: flex;
    justify-content: end;
    text-align:right;
    margin-top: 20px;
    animation: text_sub 1s ease forwards;
    animation-delay: .5s;
}
#hero .hero{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-end;
}

/*End hero*/


/*keyframe*/
@keyframes text_name {
    100% {
        opacity: 1;
        color: white;
        background-color: black;
        opacity: .3;
    }
}
@keyframes text_text {
    100% {
        opacity: 1;
        color: white;
        background-color: black;
    }
}
@keyframes text_sub {
    100% {
        color: white;
        background-color: black;
    }
}
@keyframes navi_inicial {
    100%{
        opacity: 1;
    }
}
/*Média de pc para celular*/

/*abaixo de 1200px*/
@media only screen and (min-width: 1200px) {
    #header .hamburger{
        display: none;
    }
   
    .texto_grid_colum span {
        font-size: 19px;
    }
    .imagem_grid .texto_grid_colum {
        font-size: 50px;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
        background-image: none;
        top: -21px;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.5rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    #hero .hero {
        padding: 0 225px;
    }
    #header .nav-list h2 {
        position: absolute;
        top: 0;
        transform: scale(0);
    }
    #header .header {
        transition: .3s ease background-color;
    }
    .grid {
        margin-left: 30vh;
        margin-right: 30vh;
        margin-bottom: 30vh;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 46vh;
    }
    .tex {
        color: transparent;
        text-align: left;
        margin: 0 auto 0 30vh;
        justify-content: none;
        align-items: none;

    }
    .tex2 {
        color: black;
        text-align: left;
        margin: 0 auto 0 30vh;
        justify-content: none;
        align-items: none;

    }
    /*itens separados do grid*/
    .a-1 {
        grid-row: span 1;
    }
    .a-2 {
        grid-row: span 2;
    }
    .l-1 {
        grid-column: span 1;
    }
    .l-2 {
        grid-column: span 2;
    }
    .projetos .barra{
        bottom: -14vh;
        position: absolute;
        background-color: black;
        width: 30vh;
        height: 15px;
        transition: .3s ease;
    }
    .projetos .barra2{
        margin-top: 12vh;
        position: absolute;
        background-color: black;
        width: 30vh;
        height: 15px;
        transition: .3s ease;
    }
    .projetos .barra1{
        bottom: -14vh;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 15px;
        transition: .3s ease;
    }
    .projetos .barra3{
        margin-top: 12vh;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 15px;
        transition: .3s ease;
    }
    .imagem_grid .texto_grid {
        padding-top: 100px;
        padding-left: 20%;
    }
    @keyframes text_name {
        100% {
            color: black;
        }
    }
    @keyframes text_text {
        100% {
            color: black;
        }
    }
    @keyframes text_sub {
        100% {
            color: black;
        }
    }
    #hero .cta:hover{
        border-bottom: 1px solid black;
    }
    #hero .cta1:hover{
        border-bottom: 1px solid black;
    }
    .projetos {
        height: 130vh;
    }
    .baner_mid {
        background-size:100vw auto;
    }
}
@media only screen and (max-width: 400px) {
    .tex{
        font-size: 5.9rem;
        margin-bottom: 8vh;
    }
    .tex2 {
        font-size: 5.9rem;
        margin-bottom: 8vh;
    }
    #hero h2 {
        font-size: 4rem;
    }
}
